#individual_button_0 { padding: 9px 14px; background-color: #008170; border: 1px solid #008170 }
#individual_button_1 { padding: 9px 14px; background-color: #434343; border: 1px solid #434343 }
#individual_button_2 { padding: 9px 14px; background-color: #434343; border: 1px solid #434343 }
